<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<pluginMetaData path="bitdreamit-role-based">
    <name>Role-Based Access Control</name>
    <author>Bit Dream IT</author>
    <pluginVersion>2.1.1</pluginVersion>
    <mirthVersion>3.8.0,3.8.1,3.9.0,3.9.1,3.10.0,3.10.1,3.11.0,3.12.0,4.0.0,4.0.1,4.1.0,4.1.1,4.2.0,4.3.0,4.4.0,4.4.1,4.4.2,4.5.0,4.5.1,4.5.2,4.5.3,4.5.4,4.6.0,4.6.1,4.7.0,4.7.1,4.7.2,26.3.0,26.3.1,26.3.2,26.3.3</mirthVersion>
    <url>https://www.bitdreamit.com</url>
    <description>BDIT Role-Based Access Control Plugin</description>
    <clientClasses>
        <string>com.bitdreamit.roleBased.client.accesscontrol.AccessControlPlugin</string>
        <string>com.bitdreamit.roleBased.client.accesscontrol.MfaChallengeClient</string>
        <string>com.mirth.connect.plugins.auth.client.SecureAuthorizationController</string>
    </clientClasses>
    <serverClasses>
        <string>com.bitdreamit.roleBased.server.plugin.AccessControlServicePlugin</string>
    </serverClasses>
    <library path="role-based-server.jar" type="SERVER"/>
    <library path="role-based-shared.jar" type="SHARED"/>
    <library path="role-based-client.jar" type="CLIENT"/>
    <library path="libs/core-3.5.3.jar" type="CLIENT"/>
    <library path="libs/java-otp-0.4.0.jar" type="CLIENT"/>
    <library path="libs/javase-3.5.3.jar" type="CLIENT"/>
    <library path="libs/json-20231013.jar" type="CLIENT"/>
    <library path="libs/java-otp-0.4.0.jar" type="SERVER"/>
    <library path="libs/json-20231013.jar" type="SERVER"/>
    <apiProvider name="com.bitdreamit.roleBased.shared.interfaces.AccessControlServletInterface" type="SERVLET_INTERFACE"/>
    <apiProvider name="com.bitdreamit.roleBased.server.servlet.AccessControlServlet" type="SERVER_CLASS"/>
<controllerClasses>
    <string>com.bitdreamit.roleBased.server.controllers.RbacAuthorizationController</string>
</controllerClasses>
</pluginMetaData>
